resources/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema">

<s:element name="Person" type="Person"/>

<s:complexType name="Person">
    <s:sequence>
        <s:element name="Name" type="s:string"/>
        <s:element name="SSN" type="s:string"/>
        <s:element minOccurs="0" name="DOB" type="s:date"/>
        <s:element minOccurs="0" name="Home" type="Address"/>
        <s:element minOccurs="0" name="Office" type="Address"/>
        <s:element minOccurs="0" name="Spouse" type="Person"/>
        <s:element minOccurs="0" name="FavoriteColors" type="ArrayOfFavoriteColorsItemString"/>
        <s:element minOccurs="0" name="Age" type="s:long"/>
    </s:sequence>
</s:complexType>
<s:complexType name="Address">
    <s:sequence>
        <s:element minOccurs="0" name="Street">
            <s:simpleType>
                <s:restriction base="s:string">
                    <s:maxLength value="80"/>
                </s:restriction>
            </s:simpleType>
        </s:element>
        <s:element minOccurs="0" name="City">
            <s:simpleType>
                <s:restriction base="s:string">
                    <s:maxLength value="80"/>
                </s:restriction>
            </s:simpleType>
        </s:element>
        <s:element minOccurs="0" name="State">
            <s:simpleType>
                <s:restriction base="s:string">
                    <s:maxLength value="2"/>
                </s:restriction>
            </s:simpleType>
        </s:element>
        <s:element minOccurs="0" name="Zip">
            <s:simpleType>
                <s:restriction base="s:string">
                    <s:maxLength value="5"/>
                </s:restriction>
            </s:simpleType>
        </s:element>
    </s:sequence>
</s:complexType>
<s:complexType name="ArrayOfFavoriteColorsItemString">
    <s:sequence>
        <s:element maxOccurs="unbounded" minOccurs="0" name="FavoriteColorsItem" nillable="true" type="s:string"/>
    </s:sequence>
</s:complexType>
</s:schema>